@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Innocence Latterve 2';
  font-style: normal; 
  font-weight: 400;
  src: url('/fonts/InnocenceLatterve2-Regular.ttf') format('truetype'); 
  font-display: swap;
}


@layer base {
  body {
    @apply bg-black; 
    @apply text-secondary;
    @apply antialiased;
  }
}


/* seated widget overrides */
.seated-follow-box {
  display: none;
}

.seated-event-date-cell {
}

.seated-event-venue-name {
  font-size: 20px;
}


.seated-event-venue-location {
  font-size: 20px;
}

.seated-event-link1 {
  background: #FEE9DC !important;
}

.seated-event-link1:hover {
  background: transparent !important;
}
